<div class="col-lg-9">
    <hr class="space-lg hidden-md-up">
    <!-- ** Begin about section. ** -->
    <div>
      <h1>About</h1>
      <hr class="space-32">
      <div>
        <p>
          By day I am an economist at the <a href="https://www.bls.gov">Bureau of Labor Statistics (BLS)</a> and by night
          I'm a second-year Ph.D. student in the economics program at <a href="https://economics.gmu.edu">George Mason University</a>.
        </p>
        <br>
        <p>
          At the BLS, I work to analyze and improve household surveys and data pipelines that determine where to collect the prices
          used to calculate the <a href="https://www.bls.gov/cpi/">Consumer Price Index (CPI).</a>. I have worked on projects to
          analyze survey metrics (response rates, <a href="">non-response analysis</a>), develop algorithms for record linkage
          and entity resolution, and web scraping. In fact, many of the <a href="">code tutorials</a> are derived from projects
          at the BLS.
        </p>
        <br>
        <p>
          Over the last year, I have been invited to lecture for the
          <a href="https://scs.georgetown.edu/programs/375/certificate-in-data-science/">data science certificate program</a>
          at Georgetown University's School of Continuing Studies. I lecture on using
          <a href="https://github.com/georgetown-analytics/XBUS-506-01.Visual_Analytics">visual techniques</a> in data
          pipelines, from exploratory data analysis to modeling, including feature analysis and model selection, steering, and
          evaluation.
        </p>
        <br>
        <p>
          As for academics, my research so far has focused on the economic processes that guide individuals to transform
          waste, and by-products generally, into useful goods. The economics of by-products has proved an exciting medium
          to explore microeconomics, economic history, market process theory, and entrepreneurship. Comparative statics and
          constrained optimization, the workhorses of economic theory, have proved useful for understanding current literature and
          deriving implcations. That said, simulations and networks, including agent-based modelling, have proved a useful technique
          for developing intuition about complex systems generally.
        </p>
        <br>
      </div>
    </div>
  </div>