<head>
  <meta charset="utf-8">
  <title>Greg Barbieri</title>

  <!-- Primary stylesheets -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/custom.css" rel="stylesheet">
  <link href="/css/syntax.css" rel="stylesheet">

  <!-- Sources for Twitter, Google Scholar, Github, and LinkedIn Icons -->
  <script src="https://kit.fontawesome.com/d86cd22b71.js" crossorigin="anonymous"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/academicons/1.8.6/css/academicons.min.css" rel="stylesheet">

  <!-- Java for navigation bar. -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

  <!-- To render LaTex math properly. -->
  {{ partial "mathjax_support.html" . }}
</head>
