{{ $topic := .Get "topic" }}
{{ $sub_topic := .Get "sub_topic" }}
{{ $path := print "/code_tutorials/" $topic "/" $sub_topic "/"}}
{{ $sub_topic_title := replace (.Get "sub_topic") "_" " " }}

<!-- Each card lists the code tutotirals within a sub-topic. -->
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <!-- Card Topic Title -->
      <h3 class="card-header">{{ $sub_topic_title | title }}</h3>
      <div class="card-body">
          <!-- List Code Tutorials in Topic Folder -->
          <ul>
            {{ $pages := .Site.RegularPages }}
            {{ range (where $pages "File.Dir" "in" $path) }}
              <li>
                <a href="{{ .Permalink }}">{{ .Title }}</a>
              </li>
            {{ end }}
          </ul>
      </div>
    </div>
  </div>
</div>